body {
    color: black;
    background: white;
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.play {
    font-family: sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.nav {
    font-family: sans-serif;
}

.normal div {
    margin-bottom: 20px;
}

.character-image {
    float: left;
    margin: 0px 15px 15px 0px;
    width: 70px;
    height: 55px;
}

p,
b {
    position: absolute;
    left: 80px;
}

p {
    position: absolute;
    left: 80px;
}

p:hover {
    color: red;
}

p[name]:hover:after {
    content: attr(name);
    font-size: small;
    padding: 2px 2px;
    color: #333;
    position: absolute;
    left: 110%;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
